@import "normalize.css"
@import "foundation.css"
@import "jquery.dropdown.css"

@import "fonts"
@import "variables"

body, html, a, p, span, div, input, textarea, button, h1, h2, h3, h4, h5, h6
    -webkit-font-smoothing: antialiased

body
    background: $background_color
    color: $font_color
    .container
        /*position:relative
        height:100%*/
        height: 100%
        width: 100%
    .button
        font-size:16px
        font-weight:bold
        display:inline-block
        line-height:40px
        padding:0 25px
        margin:0
        text-shadow:none
        background-color: #d9dee0
        border: 0
        border-radius: 2px
        color: #0d151d
        box-shadow: 0px 1px 1px 0px #000
        &:hover, &.hover
            background-color: #bebebe
            color: #0d151d
        &:active
            box-shadow: rgba(0,0,0,0.1) 0px 1px 0px, rgba(0,0,0,0.2) 0px 1px 0px inset;
        &.reg
            box-shadow: 0 0 1px rgba(0, 0, 0, .2)
        &.blue
            color: #ffffff
            text-shadow: none
            background: #178ee0
            border-width: 0;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
            &:hover, &:focus, &.hover
                background: #1777c2;
        &.green
            background: #3fd183
            color: #fff !important
            border: 1px solid #3fd183
            box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 inset, 0 0 1px rgba(0, 0, 0, .2)
            &:hover, &:focus, &.hover
                background-color: #40d686
                border: 1px solid #40d686
                color: #fff
            &:active
                background: #3fd183
                border: 1px solid #3fd183
    .iexd
        position: absolute
        display: none
        overflow: hidden

@import 'accounts'
@import 'files'
@import 'computer'
@import 'addconfirm'
@import 'mobile'