// Static assets
$static_path = "../img/"
$icons_sheet = $static_path + '/icons_fileexplorer.png'
$loading_icon = $static_path + '/loading_21x21.gif'
$background_color = #283243
$header_color = #101a26
$font_color = #eeeeee
$link_hover_color = #8498b6
